# initialize nvm
function n () {
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
    nvm use default # get node on the command line whenever a new shell is started
}

# Make folder and cd into it
mkcd() {
    mkdir "$1"
    cd "$1"
}
